<!-- detalhes-produto.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RodriguesPhone</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    


    <!-- Seus detalhes específicos do produto podem ser exibidos aqui -->
    <h2><%= produto.nome %></h2>
    <img src="<%= produto.imagem %>" alt="<%= produto.nome %>">
    <p><%= produto.descricao %></p>
    <p>Preço: R$ <%= produto.preco.toFixed(2) %></p>
    <!-- Adicione mais detalhes conforme necessário -->

    <!-- Seus botões ou links adicionais podem ser incluídos aqui -->
</body>

</html>
